@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<ErrorMessage Message="An error has occured" />

<ErrorMessage Message="Another error has occured" />
